---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Layout tittle="Coro Mozart Historico">
	<Header/>
	<main class="h-full bg-black snap-mandatory">
		<section class="bg-slate-300 h-full relative flex flex-col text-center text-white items-center w-full"  >
            <div class="bg-gray-800 xl:p-4 md:p-3 p-2 xl:sticky w-full z-20 " style="">
                <h1 class="xl:text-6xl md:text-4xl text-2xl" style="font-family: BeVietnamPro;">Contacto</h1>
            </div>

			<section class="xl:w-[1650px] w-full mx-5">
				<div class="flex md:flex-row flex-col m-5 justify-between items-center h-full gap-y-5">
					<iframe class="w-auto h-auto md:w-[650px] md:h-[400px] xl:w-[850px] xl:h-[600px]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3325.7219982941297!2d-70.59127429013817!3d-33.534612873245145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d0efb3f2a0f9%3A0x22d93a5d6d3ee968!2sParaguay%208746%2C%208241260%20Santiago%2C%20La%20Florida%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1726263835431!5m2!1ses!2scl"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						
					<div class="flex flex-col text-black bg-slate-100 items-center p-5 w-fit max-w-full">
						<div class="border-b-2 pb-2 xl:min-w-[35vw] ">
							<h1 class="text-4xl mb-2 ">Información de Contacto</h1>
							<p class="text-xl">Dirección: Paraguay 8746, La Florida, Santiago</p>
							<p class="text-xl">Teléfono: +569 1234 5678</p>
							<p class="text-xl">Correo:
								<a href="mailto: nic.castilloc@duocuc.cl" class="text-blue-500">nic.castilloc@duocuc.cl</a>
							</p>					
						</div>
						<br>
						<div class="w-full md:px-16">
							<h1 class="text-2xl ">Envíanos tus dudas</h1><br>
		
							<form class="text-start " action="/Contacto" method="POST">
								<!-- Campo para el nombre -->
								<label class="mr-5 xl:inline block" for="nombre">Nombre:</label>
								<input class="rounded px-2 border-2" type="text" id="nombre" name="nombre" required><br><br>
	
								<!-- Campo para el email -->
								<label class="mr-5 xl:inline block" for="email">Correo electrónico:</label>
								<input class="rounded px-2 border-2" type="email" id="email" name="email" required><br><br>
	
								<!-- Área de texto para la duda -->
								<label class="mr-5 xl:inline block" for="duda">Tu duda:</label>
								<textarea class="rounded px-2 border-2 resize-none w-full" id="duda" name="duda" rows="4" cols="" required></textarea><br><br>
	
								<!-- Botón para enviar el formulario -->
								<div class="text-center text-black">
									<input class="cursor-pointer border-2 border-black py-1 px-3 rounded hover:bg-red-950 hover:text-white  active:text-black transition duration-200" type="submit" value="Enviar">
								</div>
							</form>
						</div>
					</div>		
				</div>
			</section>
        </section>
        
	</main>   
	<Footer/>
</Layout>