---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Layout tittle="Coro Mozart Historico">
	<Header/>
	<main class="min-h-screen bg-black snap-mandatory" >
		<section class="bg-slate-100 relative flex flex-col text-center text-white items-center" >
            <div class="bg-gray-800 xl:p-4 md:p-3 p-2 w-full z-20 sticky xl:top-20 top-[64.88px] shadow-2xl">
                <h1 class="xl:text-6xl md:text-4xl text-2xl" style="font-family: BeVietnamPro;">Historia</h1>
            </div>
            <!-- <div class="justify-center flex bg-slate-100 h-screen pb-80"> -->

            <div class="max-w-6xl pt-20 text-black mx-6 bg-slate-100 h-full pb-20 content-center flex flex-col">
                <h1 class="xl:text-7xl text-5xl pb-10" style="font-family: BeVietnamPro;">
                    Coro Mozart Historico
                </h1>
                <p class="text-justify text-lg">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro tenetur quo magnam in exercitationem consequuntur, qui sed quibusdam dolore ullam debitis facilis omnis beatae fugiat, odit perferendis ut voluptatum impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quam error magnam sint! Obcaecati voluptatum sunt hic, modi ducimus aliquam beatae, eveniet esse delectus eum vitae in dolores, dignissimos natus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. A officia dicta asperiores magni, vero in repellendus cum tempora perspiciatis aut iste ad accusantium eaque! Iure impedit quidem repellat maxime deserunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit voluptas amet quod alias sed sequi pariatur consectetur accusantium id quos sit aperiam saepe eum quasi architecto veritatis, culpa quas nisi iusto explicabo libero sunt suscipit ipsum dolor! Non ex repudiandae esse distinctio aspernatur facere, recusandae dolorem id architecto ut quia.
                    <img src="src/images/Spider-Man.jpg" alt="Imagen" class="float-left m-4 md:w-96 w-60">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quos, vero voluptatibus repellat sunt porro a tempore voluptatem, laborum iste, pariatur perspiciatis impedit asperiores et expedita? Facere aut illum laudantium. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum sequi illo ad laborum omnis magni, nostrum nobis dolorum eius. Veritatis ullam iure totam voluptates qui quas itaque labore placeat excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, quae? Corporis ad inventore pariatur quam architecto ut fugit, totam excepturi exercitationem, sit molestiae recusandae vero doloribus nemo repellendus voluptates tenetur enim, autem ratione natus voluptatum? Facere, dicta porro blanditiis, eveniet aut explicabo ab a fuga sit obcaecati alias amet facilis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam possimus debitis dignissimos ad iure distinctio nisi provident? Aut saepe, totam natus earum alias corrupti adipisci unde rem, quia inventore culpa magni quo rerum iste facere? Rem, corporis. Iure sit laborum optio quaerat, voluptatibus ut inventore! Aliquid ipsum nisi deserunt libero dolorum. Sed ipsam eos sequi excepturi beatae dignissimos tempore quam voluptatibus eius praesentium sapiente modi pariatur unde cum, animi veniam nemo placeat. Dolorem aspernatur, qui veniam recusandae quae sapiente expedita quod quidem assumenda dolorum eligendi eos voluptatum facilis impedit cum. Fugit officiis distinctio ea accusantium magni consequuntur, quas eligendi omnis! Quisquam, quod.
                </p>
            </div>
        </section>
        
	</main>   
	<Footer/>
</Layout>