---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Layout tittle="Coro Mozart Historico">
	<Header/>
	<main class="min-h-screen bg-black snap-mandatory">
        <section class="bg-slate-300 h-screen relative flex flex-col text-center text-white"  >
            <div class="bg-gray-800 xl:p-4 md:p-3 p-2 xl:fixed w-screen z-20 " style="top: 80px;">
                <h1 class="xl:text-6xl md:text-4xl text-2xl" style="font-family: BeVietnamPro;">Multimedia</h1>
            </div>

            <div class="flex items-center justify-center h-full relative" >
                <button id="prevButton" class="absolute left-1/3 z-10 bg-gray-800 text-white p-2 rounded-l ">❮</button>
                <div class="aspect-video w-96 h-72 relative flex overflow-auto snap-x snap-mandatory scrollbar-hide">
                    <img class="w-full h-full left-0 sticky object-cover flex-shrink-0 rounded snap-start " src="src/images/coro.webp" alt="">
                    <img class="w-full h-full left-0 sticky object-cover flex-shrink-0 rounded snap-start " src="src/images/Spider-Man.jpg" alt="">
                </div>
                <button id="nextButton" class="absolute right-1/3 z-10 bg-gray-800 text-white p-2 rounded-r">❯</button>
                
            </div>
            
        </section>
	</main>   
	<Footer/>
</Layout>

<script>
    // 1. Obtener el contenedor de la galería y los botones de navegación
    const slider = document.querySelector('.overflow-auto');
    const nextButton = document.getElementById('nextButton');
    const prevButton = document.getElementById('prevButton');
    // 2. Agregar un evento de clic a los botones de navegación
    nextButton.addEventListener('click', () => {
    slider.scrollBy({ left: slider.clientWidth, behavior: 'smooth' });
    });
    prevButton.addEventListener('click', () => {
        slider.scrollBy({ left: -slider.clientWidth, behavior: 'smooth' });
    });
</script>

<style>
    /* Ocultar la barra de desplazamiento en navegadores WebKit (Chrome, Safari)*/
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    
    /* Ocultar la barra de desplazamiento en Firefox */
    .scrollbar-hide {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }

    button:hover{
        scale: 1.1;
    }

    button:active{
        scale: 0.9;
    }
</style>