---

---

<footer class="bg-black text-white h-32 bottom-0 z-20 flex items-center relative">

        <div class="text-center w-full">
            <p>Página desarrollada por <a class="text-blue-400" href="https://www.linkedin.com/in/nicolás-castillo-cerda-3ab7a5292">@NicolasCastillo</a></p>
            <p>© 2024 Mozart Historico</p>
        </div>
        <div class="absolute md:right-6 right-3">
            <a href="#top">
                <img class="md:h-12 h-8 rotate-180 hover:scale-105 transition-transform duration-300" src="/kind.png" alt="" style="filter: invert(1)">
            </a>
        </div>
</footer>