---
import Card from '../components/Card.astro'
---

<section class="bg-slate-300 h-screen relative flex flex-col text-center text-white"  >
    <div class="bg-gray-800 xl:p-4 md:p-3 p-2 xl:sticky" style="top: 80px;">
        <h1 class="xl:text-6xl md:text-4xl text-2xl" style="font-family: BeVietnamPro;">Noticias</h1>
    </div>

    <div class="flex items-center justify-center h-full " >

        <div class="flex flex-row gap-8 overflow-x-auto space-x-4 snap-x snap-mandatory">
            <Card tittle="Titulo de la noticia"; body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsam atque minima temporibus dolores alias, harum autem voluptate accusamus architecto ab saepe eveniet esse, quos dolore ducimus. Excepturi, accusantium molestiae! Lorem ipsum dolor sit, amet consectetur adipisicing elit. A iusto quaerat ullam ducimus! Delectus maxime numquam aliquid ipsam facilis unde minus, a nostrum officia sed illo! Eveniet culpa esse iste! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque laudantium iusto quidem quo fugiat officiis. Et culpa necessitatibus mollitia asperiores, nihil tenetur nam, voluptates minima rerum cupiditate fugit impedit quo."; image="src/images/coro.webp";></Card>
            
            <Card tittle="Titulo de la noticia"; body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsam atque minima temporibus dolores alias, harum autem voluptate accusamus architecto ab saepe eveniet esse, quos dolore Lorem ipsum dolor sit, amet consectetur."; image="src/images/coro.webp";></Card>
                
            <Card tittle="Titulo de la noticia"; body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsam atque minima temporibus dolores alias, harum autem voluptate accusamus architecto ab saepe eveniet esse, quos dolore ducimus. Excepturi, accusantium molestiae! Lorem ipsum dolor sit, amet consectetur adipisicing elit. A iusto quaerat ullam ducimus! Delectus maxime numquam aliquid ipsam facilis unde minus, a nostrum officia sed illo! Eveniet culpa esse iste! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque laudantium iusto quidem quo fugiat officiis. Et culpa necessitatibus mollitia asperiores, nihil tenetur nam, voluptates minima rerum cupiditate fugit impedit quo."; image="src/images/coro.webp";></Card>
        </div>
                
    </div>
</section>