<section id="Video" class="h-screen relative text-center bg-stone-900 flex items-center justify-center text-white">

    <div class="flex flex-col items-center justify-center md:w-2/4">
        <div class="px-4 max-w-5xl  border-zinc-300">
            <video controls class="border-4" src=""></video>    
        </div>
        <h1 class="text-left xl:text-4xl text-2xl pt-8 px-4" style="font-family: 'BeVietnamPro';">
            Clip absolutamente epico de Counter Strike 2 <br> en el que se ve a un grupo de amigos disfrutando de una partida.
        </h1>
    </div>
</section>
<!-- <div class=" text-white z-20 relative px-20 pt-40 flex flex-col items-center">
    <h1 class="text-6xl">Coro Mozart Historico</h1>
    <p class="pt-20 text-4xl">Desliza para conocer más acerca de estos más de 50 años de arte musical.</p>
    <img class="h-20 mt-16 " style="filter: invert(1)" src="src/images/kind.png" alt="flecha">
</div> -->